* {
    box-sizing: border-box;
}

input[type='checkbox'] {
    display: none;
}

/*container div*/
.sighting {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
    max-width: 800px;
}

.sighting:hover {
    background: #58703A;
    color: #ffffff; 
}

.wrapper {
    display: block;
    margin: 20px;
    width: 600px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sightingLabel {
    display: block;
    cursor: pointer;
    background-color: #58703A;
    color: #ffffff;
    width: auto;
    padding: 20px;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}

label:hover {
    background: #58703A;
    color: #ffffff;
}

ul ul li {
    padding: 10px;
}

/*delete button*/
.deleteButton {
    font-size: 12px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.deleteButton:hover {
    color:#ffffff;
    background-color:#58703A;
}

/*edit button*/
.editButton {
    float: center;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.editButton:hover {
    color:#ffffff;
    background-color:#58703A;
}