* {
    box-sizing: border-box;
}

input[type='checkbox'] {
    display: none;
}

/*container div*/
.sighting {
    display: block;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
}

.wrapper {
    display: block;
    margin: 10px 5px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.sightingLabel {
    display: block;
    cursor: pointer;
    background-color: #58703A;
    color: #ffffff;
    width: auto;
    padding: 20px;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}

label:hover {
    background: #58703A;
    color: #ffffff;
}

ul li {
    text-align: center;
    padding: 5px;
}

/*delete button*/
.deleteButton {
    font-size: 12px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.deleteButton:hover {
    color:#ffffff;
    background-color:#58703A;
    transition: .3s ease-in;
}

/*edit button*/
.editButton {
    float: center;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.editButton:hover {
    color:#ffffff;
    background-color:#58703A;
    transition: .3s ease-in;
}

@media screen and (max-with: 720px) {
    .wrapper {
        width: 100%;
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    ul {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 320px) {
    .wrapper {
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

    ul {
        margin-left: auto;
        margin-right: auto;
    }
}