
.submitButton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 1px solid;
    margin: 10px 5px;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color: #000000;
    text-align:center;
    transition: all 0.2s;
}
.submitButton:hover {
    color:#ffffff;
    background-color:#58703A;
    transition: .3s ease-in;
}
@media all and (max-width:30em) {
    .submitButton {
        display:block;
        margin:0.4em auto;
    }
}