* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    text-align: center;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}