
.topNav{
    position: fixed;
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(10px);
}


.topNav a {
    color: #3289B3;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}